@model IEnumerable<E_Administration.Models.Pc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PcName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soft)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PcName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hard.HardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lab.LabId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soft.SoftId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PcId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PcId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PcId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
