@model IEnumerable<Institute>
<div class="container-fluid position-relative">
    <div class="row">
        <!-- Admin Offcanvas and Side navigation-bar are here -->
        @await Html.PartialAsync("_AdminSidebarPartial")
        <div class="col-lg-9 col-md-12 col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="p-4 d-flex justify-content-between align-items-center flex-lg-row flex-md-column flex-column gap-2">
                            <div>
                                <h3 class="font-body">Welcome, Admin! What's Cooking🤔</h3>
                                <p class="text-black-50 fw-normal">Here you can manipulate almost anything</p>
                            </div>
                            <div class="d-flex gap-2">
                                <a asp-action="Logout" asp-controller="Login" class="primary-icon-btn">
                                    <i class="bi bi-door-open-fill"></i>
                                </a>
                                <a asp-action="Logout" asp-controller="Login" class="primary-icon-btn">
                                    <i class="bi bi-bell-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h2 class="font-body text-center text-black fw-bold display-4">Institutes</h2>
                    <!-- Home View -->
                    <div class="col-12 my-3">
                        <a asp-action="AddInstitute" class="primary-btn">Add Institute</a>
                    </div>
                    <div class="col-12 my-3">
                        @if (ViewBag.Message == null)
                        {
                            @foreach (var ist in Model)
                            {
                                <div class="col-12 mb-3 border border-3 rounded-4 p-3 d-flex justify-content-between align-items-center">
                                    <div>
                                        <h3 class="fw-bold font-body text-black">
                                            @ist.InstituteName
                                        </h3>
                                        <small class="text-black-50 col-12 text-truncate">@ist.InstituteDescription</small>
                                        <br />
                                        <small>
                                            <i class="bi bi-geo-alt-fill"></i><i class="text-black-50 font-heading">@ist.InstituteAddress | @ist.CreatedAt.ToString("MMMM dd, yyyy HH:mm:ss")</i>
                                        </small>
                                    </div>
                                    <div>
                                        <a asp-action="DetailInstitutes" asp-route-id="@ist.InstituteId" class="primary-btn">View Details
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <h4 class="text-center text-black-50 fw-bold font-body">@ViewBag.Message</h4>
                        }
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>
