@model IEnumerable<E_Administration.Models.Floor>

<div class="container-fluid position-relative">
    <div class="row">
        <!-- Admin Offcanvas and Side navigation-bar are here -->
        @await Html.PartialAsync("_AdminSidebarPartial")
        <div class="col-lg-9 col-md-12 col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="p-4 d-flex justify-content-between align-items-center flex-lg-row flex-md-column flex-column gap-2">
                            <div>
                                <h3 class="font-body">Welcome, Admin! What's Cooking🤔</h3>
                                <p class="text-black-50 fw-normal">Here you can view the details about the Institute</p>
                            </div>
                            <div class="d-flex gap-2">
                                <a asp-action="Logout" asp-controller="Login" class="primary-icon-btn">
                                    <i class="bi bi-door-open-fill"></i>
                                </a>
                                <a asp-action="Logout" asp-controller="Login" class="primary-icon-btn">
                                    <i class="bi bi-bell-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <a asp-action="Index" class="text-decoration-none text-black-50"><i class="bi bi-arrow-left"></i> Back to List</a>
                    <div class="col-12 mb-3 mt-4" >
                        <a asp-action="AddFloor" class="primary-btn">Add Floors</a>
                    </div>
                    <div class="col-12 my-4" >
                        @if(TempData["FloorSuccess"] != null)
                        {
                            <div class="alert alert-success" role="alert">
                                @TempData["FloorSuccess"]
                            </div>
                        }
                        @if (TempData["FloorError"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @TempData["FloorError"]
                            </div>
                        }
                    </div>
                    <!-- Institute Details View -->
                    <div class="container my-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Institute Name</th>
                                    <th scope="col">Floor Name</th>
                                    <th scope="col">Created At</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var floor in Model)
                                {
                                    <tr>
                                        <th scope="row">@floor.FloorId</th>
                                        <td>@floor.Institute?.InstituteName</td>
                                        <td>@floor.FloorName</td>
                                        <td>@floor.CreatedAt</td>
                                        <td>
                                            <form asp-action="DeleteFloor" method="post">
                                                <input type="hidden" name="floorId" value="@floor.FloorId" />
                                                <button type="submit" class="primary-icon-btn"><i class="bi bi-trash-fill"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>
