@model IEnumerable<E_Administration.Models.Pc>
<div class="container-fluid position-relative">
    <div class="row">
        <!-- Admin Offcanvas and Side navigation-bar are here -->
        @await Html.PartialAsync("_AdminSidebarPartial")
        <div class="col-lg-9 col-md-12 col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="p-4 d-flex justify-content-between align-items-center flex-lg-row flex-md-column flex-column gap-2">
                            <div>
                                <h3 class="font-body">Welcome, Admin! What's Cooking🤔</h3>
                                <p class="text-black-50 fw-normal">Here you can view the details about the Institute</p>
                            </div>
                            <div class="d-flex gap-2">
                                <a asp-action="Logout" asp-controller="Login" class="primary-icon-btn">
                                    <i class="bi bi-door-open-fill"></i>
                                </a>
                                <a asp-action="Logout" asp-controller="Login" class="primary-icon-btn">
                                    <i class="bi bi-bell-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <a asp-action="DetailInstitutes" asp-route-id="@ViewBag.InstituteId" class="text-decoration-none text-black-50"><i class="bi bi-arrow-left"></i> Back to List</a>
                    <h1 class="text-center fw-bold font-body">PC's</h1>
                    <a class="primary-btn" asp-action="AddPcs" asp-route-id="@ViewBag.InstituteId">
                        Add PC
                    </a>
                    <!-- System View -->
                    <div class="container my-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">PC</th>
                                    <th scope="col">Purchased At</th>
                                    <th scope="col">Processor</th>
                                    <th scope="col">RAM</th>
                                    <th scope="col">Storage Capacity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null) 
                                 { 
                                    @foreach (var pc in Model)
                                    {
                                        <tr>
                                            <th scope="row">@pc.PcId</th>
                                            <td>@pc.PcName</td>
                                            <td>@pc.PurchasedAt</td>
                                            <td>@pc.Hard.Processor</td>
                                            <td>@pc.Hard.Ram</td>
                                            <td>@pc.Hard.StorageCapacity</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <th class="text-center fw-bold text-black-50" colspan="7">No Pc Found</th>
                                    </tr>
                                } 
                            </tbody>
                        </table>
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>