@model IEnumerable<E_Administration.Models.Schedule>

<div class="container-fluid position-relative">
    <div class="row">
        <!-- Admin Offcanvas and Side navigation-bar are here -->
        @await Html.PartialAsync("_HodSidebarPartial")
        <div class="col-lg-9 col-md-12 col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="p-4 d-flex justify-content-between align-items-center flex-lg-row flex-md-column flex-column gap-2">
                            <div>
                                <h3 class="font-body">Welcome, Head Of Department!🤔</h3>
                                <p class="text-black-50 fw-normal">Here you can view the details about the HOD of the Education Department</p>
                            </div>
                            <div class="d-flex gap-2">
                                <a asp-action="Logout" asp-controller="Login" class="primary-icon-btn">
                                    <i class="bi bi-door-open-fill"></i>
                                </a>
                                <a asp-action="Logout" asp-controller="Login" class="primary-icon-btn">
                                    <i class="bi bi-bell-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <a asp-action="IndexSchedule" class="text-decoration-none text-black-50"><i class="bi bi-arrow-left"></i> Back to List </a>

                    <div class="col-12 my-2 d-flex justify-content-center">
                        <a class="primary-btn text-center" asp-action="AddSchedule" asp-route-instituteId=""> Add Schedule </a>
                    </div>
                    <!-- Details View -->
                    <div class="container my-3">
                        @if (Model == null || !Model.Any())
                        {
                            <p class="text-center fs-3 text-black-50 fw-bold">No Schedules are assign in this Institute</p>
                        }
                        else
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Day Name</th>
                                        <th scope="col">Lab Id</th>
                                        <th scope="col">Class Start Time</th>
                                        <th scope="col">Class End Time</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var schedule in Model)
                                    {
                                        <tr>
                                            <th scope="col">@schedule.ScheduleId</th>
                                            <td>@schedule.Day.DayName</td>
                                            <td>@schedule.LabId</td>
                                            <td>@schedule.ClassStartTime</td>
                                            <td>@schedule.ClassEndTime</td>
                                            <td>
                                                <form asp-action="ScheduleDelete" method="post" class="primary-icon-btn">
                                                    <input type="hidden" name="scheduleId" value="@schedule.ScheduleId" />
                                                    <i class="bi bi-trash-fill"></i>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>

